div.block-add-post
        form.block-add-post-container(action="/publish" method="post")
            textarea.field-post(editablecontent="true" placeholder="Write something..." name='title')
            button.button Send