doctype html
html(lang="fr")
    head
        title= title
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/import.css")
        link(rel="stylesheet" href="/css/layouts/auth.css")
        link(rel="shortcut icon", href="/images/icon.svg", type="image/x-icon")
        block links
    body
        section.auth
            .container
                .auth-container
                    .auth-left
                        h2 Get in touch
                        .auth-form
                            block content
                    .auth-right
                        .auth-image
                            img(src='/images/icon.svg')


        block scripts