extends layouts/main

block links
    link(rel="stylesheet", href="/css/pages/posts.css")
    link(rel="stylesheet", href="/css/pages/index.css")

block content

    #notifications
        .notifications-header
            h2 Notifications
            button.button.flex
                svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff")
                    path(d="m336-280-56-56 144-144-144-143 56-56 144 144 143-144 56 56-144 143 144 144-56 56-143-144-144 144Z")
        .notifications-container
            if notifications    
                each notification in notifications 
                    if user._id.toString() === notification.to.toString()
                        .notification
                            .user-notif-cont
                                .user-avatar
                                    img(src=notification.from.avatar || "/images/default-pp.jpg")
                                .user-name
                                    strong= notification.from.name 
                            .info-post-cont
                                if notification.type === "like"
                                    p a liké votre publication ❤️
                                else if notification.type === "follow"
                                    sest abonne a vous
                                else if notification.type === "comment"
                                    p a commente un post
                                else
                                    p a eu une interraction avec vous
                            .post-notif-cont
                                .post-name(data-post-id= notification.post._id)
                                    p= notification.post.title
                                span= new Date(notification.createdAt).toLocaleDateString("fr-BE").replaceAll("/", "-")


    div.block.default-mg-t.default-mg-bt
        .container
            .block-row
                .block-container.hidden-phone.sticky
                    if user
                        include components/user/card.user.pug
                    else 
                        include components/user/card.signin.pug
                .block-container
                    include components/post/add-post
                    include components/post/list-post

                .block-container.hidden-phone.sticky
                    include components/user/suggestion.user.pug
                

block scripts
    script(src="/js/layouts/index.js" type="module")