extends layouts/main

block links
    link(rel="stylesheet", href="style.css")

block content
    div.block.default-mg-t.default-mg-bt
        .container
            .post-container
                .post-header
                    .post-user
                        .user-image
                        .user-name
                            h2= user.name
                .post-body
                    .content-post
                        h3 hea
                    .info-post
                        