extends layouts/auth

block content

    form(action="/signin" method="POST")
        input.input(placeholder="Email" name="email")
        input.input(placeholder="Password" name="password" type="password") 
        button.button(type="submit") Sign in

    div.redirect-div Don't have account? 
        a(href='/signup') Register noww