@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(./common/topbar.css);

* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  word-wrap: break-word;
}

:root {
  --main-color: #141c25;
  --text-color: #f2f4f7;

  --shadow: 0px 1px 2px 0px #141c250a;
  --border: 1px solid #e4e7ec;
  --border-c: #e4e7ec;

  --button-bg-c: #141c25;
  --button-bg-hover-c: #fff;
  --button-c: #ffffff;
  --button-secondary-c: #141c25;
  --button-secondary-bg-c: #f2f4f7;
  --button-secondary-bg-hover-c: #e3e3e3;
}

a {
  text-decoration: none;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.button {
  padding: 6px 8px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  border: var(--border);
  background-color: var(--button-bg-c);
  color: var(--button-c);
  cursor: pointer;
  transition: 0.3s;
}

.button.secondary {
  color: var(--button-secondary-c);
  border: 1px solid var(--button-secondary-bg-c);
  background-color: var(--button-secondary-bg-c);
}

.button:hover,
.button.secondary:hover {
  background-color: var(--button-bg-hover-c);
  color: var(--button-bg-c);
}

.default-mg-t {
  margin-top: 95px;
}

.default-mg-bt {
  margin-bottom: 95px;
}

.default-p-t {
  padding-top: 95px;
}

.default-p-bt {
  padding-bottom: 95px;
}

.flex {
  display: flex;
}

.input {
  background-color: #f9fafb;
  padding: 8px 12px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #f9fafb;
}

.sticky {
  position: sticky;
  top: 95px;
}

.hidden-button {
  background: none;
  border: none;
  cursor: pointer;
}

@media all and (min-width: 820px) {
  .container {
    max-width: 800px;
  }
}

@media all and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
