.block-add-post .block-add-post-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid rgba(128, 128, 128, 0.16);
  outline: none;
  border-radius: 10px;
  padding: 13px;
  box-shadow: var(--shadow);
}

.block-add-post .block-add-post-container .field-post {
  height: 100px;
  resize: none;
  width: 100%;
  border: none;
  outline: none;
}

.block-list-post .block-list-post-container .post-content {
  border: var(--border);
  border-radius: 10px;
  padding: 13px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  box-shadow: var(--shadow);
}

.block-list-post .block-list-post-container .post-content .post-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-list-post
  .block-list-post-container
  .post-content
  .post-top
  .post-infos {
  display: flex;
  gap: 2px;
  font-weight: 600;
}

.block-list-post
  .block-list-post-container
  .post-content
  .post-top
  .post-infos
  a {
  color: #333;
}

.block-add-post .block-add-post-container .block-add-post-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-add-post .block-add-post-container .block-add-post-options .block-sends {
  display: flex;
  align-items: center;
  gap: 7px;
}

.block-add-post
  .block-add-post-container
  .block-add-post-options
  .block-sends
  p {
  color: grey;
  font-size: 12px;
}

.block-list-post
  .block-list-post-container
  .post-content
  .post-top
  .post-options {
  position: relative;
}

.block-list-post
  .block-list-post-container
  .post-content
  .post-top
  .post-options
  .options-menu {
  position: absolute;
  flex-direction: column;
  box-shadow: var(--shadow);
  border: var(--border);
  border-radius: 7px;
  background-color: #fff;
  z-index: 999;
  overflow: hidden;
  display: none;
  right: 0;
}

.block-list-post
  .block-list-post-container
  .post-content
  .post-top
  .post-options
  .options-menu.show {
  display: flex;
  text-align: left;
}

.block-list-post
  .block-list-post-container
  .post-content
  .post-top
  .post-options
  .options-menu
  .option {
  padding: 6px 8px;
  padding-right: 20px;
  transition: 0.3s;
}

.block-list-post
  .block-list-post-container
  .post-content
  .post-top
  .post-options
  .options-menu
  .option:hover {
  background-color: var(--button-secondary-bg-hover-c);
}

.block-list-post
  .block-list-post-container
  .post-content
  .post-body
  .body-title {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.block-list-post
  .block-list-post-container
  .post-content
  .post-body
  .body-title
  p.date {
  text-align: right;
  width: 100%;
  color: grey;
}

.block-list-post .block-list-post-container .post-content .post-like,
.block-list-post .block-list-post-container .post-content .post-like div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.block-list-post .block-list-post-container .post-content .post-like {
  gap: 10px;
  color: grey;
}

.block-list-post
  .block-list-post-container
  .post-content
  .post-like
  div.hidden {
  display: none;
}
