.profile-container {
  display: flex;
  flex-direction: column;
}

.profile-container .profile-header .profile-header-top {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.profile-container .profile-header .profile-header-top .profile-picture {
  width: 25%;
  height: 300px;
  overflow: hidden;
}

.profile-container .profile-header .profile-header-top .profile-picture img {
  object-fit: cover;
}

.profile-container .profile-header .profile-header-top .profile-infos {
  padding-bottom: 30px;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-container
  .profile-header
  .profile-header-top
  .profile-infos
  .profile-buttons {
  display: flex;
  gap: 10px;
}

.profile-container .profile-header .profile-header-top .profile-infos h2 {
  font-size: 32px;
}

.profile-container .profile-header .profile-header-top .profile-follows {
  display: flex;
  gap: 40px;
  padding-bottom: 30px;
  width: 35%;
  justify-content: flex-end;
}

.profile-container
  .profile-header
  .profile-header-top
  .profile-follows
  .follows-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
}

.profile-container
  .profile-header
  .profile-header-top
  .profile-follows
  .follows-info
  p {
  color: grey;
}

.profile-container
  .profile-header
  .profile-header-top
  .profile-follows
  .follows-info
  h3 {
  font-size: 24px;
}

@media all and (min-width: 320px) {
}
@media all and (min-width: 820px) {
}
@media all and (min-width: 1280px) {
}
