div.suggestion-user
    .suggestion-user-container
        h2 Suggestions
        .suggestion-list
            .suggestion-box
                .box-left
                    .user-image
                        img(src="/images/default-pp.jpg")
                .box-right
                    .user-infos
                        h3 Randy Plaskoff
                        p 4 mutual friends
                    .suggestion-button
                        button.button Add friend
                        button.button.secondary Remove
            .suggestion-box
                .box-left
                    .user-image
                        img(src="/images/default-pp.jpg")
                .box-right
                    .user-infos
                        h3 Randy Plaskoff
                        p 4 mutual friends
                    .suggestion-button
                        button.button Add friend
                        button.button.secondary Remove
            .suggestion-box
                .box-left
                    .user-image
                        img(src="/images/default-pp.jpg")
                .box-right
                    .user-infos
                        h3 Randy Plaskoff
                        p 4 mutual friends
                    .suggestion-button
                        button.button Add friend
                        button.button.secondary Remove
            .suggestion-box
                .box-left
                    .user-image
                        img(src="/images/default-pp.jpg")
                .box-right
                    .user-infos
                        h3 Randy Plaskoff
                        p 4 mutual friends
                    .suggestion-button
                        button.button Add friend
                        button.button.secondary Remove
            .suggestion-box
                .box-left
                    .user-image
                        img(src="/images/default-pp.jpg")
                .box-right
                    .user-infos
                        h3 Randy Plaskoff
                        p 4 mutual friends
                    .suggestion-button
                        button.button Add friend
                        button.button.secondary Remove